- semantic_form_for @community, :url => [:admin, @community], :html => { :multipart => true } do |f|
  = f.semantic_errors
  = f.inputs :name, :url, :latitude, :longitude, :short_description, :long_description, :photo
  = f.buttons
