.article_page
  .main
    .titled_section
      %h2 Contact Us
      .illustration.right= image_tag 'wales_design_sketch.jpg'
      
      %p 
        Starting an ecovillage? Looking to find one to live in? Already living in an existing
        ecovillage and want to update your info on this site?
      
      %p
        Please
        = link_to("drop us an email", "maito:craig@craigambrose.com")
        and have a chat about how we can help.
      
      %p
        This site is entirely non-profit, and does not accept advertising, however is happy
        to help promote you ecovillage project in New Zealand.
