- content_for :hero do
  %h2 What is an ecovillage?
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat elit ac orci elementum vulputate. Vivamus suscipit eleifend fermentum. Suspendisse potenti. Pellentesque et magna nibh, vel placerat felis. Nunc a nunc non dolor venenatis lacinia ac id urna. Integer lacus lorem, molestie eu malesuada at, aliquam ut quam. Maecenas viverra porttitor nibh, in ornare nunc varius sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed leo quam, rhoncus at porttitor in, hendrerit et ante. Phasellus ac sagittis diam. Suspendisse vitae justo risus, ac scelerisque enim. Donec auctor mi eget justo tincidunt non euismod sem luctus. Etiam dapibus varius eros quis mollis. Phasellus vitae arcu eget turpis vehicula facilisis. Ut fringilla bibendum nisl eget congue. Nunc justo neque, aliquet vitae commodo sed, consequat quis dolor. Etiam dui quam, volutpat non sollicitudin vel, porttitor id quam. Etiam iaculis pulvinar eros, id mattis massa fringilla eget. Suspendisse tristique odio sed orci dictum luctus. Aliquam auctor, ante eget fringilla iaculis, augue dolor ullamcorper dui, at semper nisi urna et tellus. 

.main
  .communities.preview_list
    .preview
      .header
        %h3 Otamatea Eco-Village
        = link_to "www.otamatea.org.nz", "http://www.otamatea.org.nz/", :class => 'community_link'
        
      .description
        Welcome to the Otamatea Eco-Village website. We are a community using organic principles to meet our needs and care for the native eco system. The site has information about our permaculture community and its projects and events.

    .preview
      .header
        %h3 Atamai Eco-Village
        = link_to "www.atamai.co.nz", "http://www.atamai.co.nz/", :class => 'community_link'

      .description
        Atamai Village is first and foremost a village. By tradition, a village is an enduring, fully- featured settlement, where the full range of human interactions occurs. It offers greater breadth and depth of social and employment opportunities than a suburb, subdivision or even a neighbourhood.
